body {
  background-color: rgb(224, 224, 224)
}
.admin-menu > ul > li > a.btn {
  padding: 0;
}
.header {
  padding-top: 10px;
}
.container.admin {
  width: 95%;
}
img.responsive-img {
  margin-right: 10px;
}
textarea.materialize-textarea {
  height: 250px;
}