body {
  background-color: rgb(224, 224, 224)
}
.admin-menu > ul > li > a.btn {
  padding: 0;
}
.header {
  padding-top: 10px;
}
.container.admin {
  width: 95%;
}
img.responsive-img {
  margin-right: 10px;
}
.edit {
  float: right;
}

#post-body {
  height: 250px;
}

.note-editor {
  height: 400px;
}

nav ul a {
  font-size: 14px
}

.btn.btn-facebook {
  border-radius: 4px;
  color: #FFFFFF;
  background: #3B5998;
}
.btn.btn-facebook:hover,
.btn.btn-facebook:focus {
  color: #FFFFFF;
}
.btn.btn-twitter {
  border-radius: 4px;
  color: #FFFFFF;
  background: #4099FF;
}
.btn.btn-twitter:hover,
.btn.btn-twitter:focus {
  color: #FFFFFF;
}
.btn.btn-google-plus {
  border-radius: 4px;
  color: #FFFFFF;
  background: #D34836;
}
.btn.btn-google-plus:hover,
.btn.btn-google-plus:focus {
  color: #FFFFFF;
}
