<template name="comments">
  <form id="comment">
    <h4 class="teal-text">Comment</h4>
    <div class="input-field">
      <input type="text" name="name" placeholder="Name" required>
    </div>
    <div class="input-field">
      <textarea name="comment" class="materialize-textarea" placeholder="Comments" requireds></textarea>
    </div>
    <input type="hidden" name="blank" class="mui-form-control">
    <button type="submit" class="btn waves-effect waves-light">Submit
      <i class="mdi-content-send right"></i>
    </button>
  </form>
  <ul class="collection">
    {{#each comments}}
    <li class="collection-item">{{{comment}}}
      <div class="secondary-content">by {{authorName}}</div>
    </li>
    {{/each}}
  </ul>
</template>