<template name="posts_list">
  <div class="container">
    <div class="inner-addon right-addon">
      <i class="glyphicon glyphicon-search"></i>
        <input type="text" placeholder="Search Notes" class="underline form-control" />
    </div>
      <div class="row">
          <div class="col s4">
              <div class="form-group">
                  <label for="post-lang">Language</label>
                  <select id="post-lang" name="lang" class="form-control validate" required>
                      <option value="">All</option>
                      <option value="Hindi">Hindi</option>
                      <option value="Malayalam">Malayalam</option>
                      <option value="Marathi">Marathi</option>
                  </select>
              </div>
          </div>
          <div class="col s4">
              <div class="form-group">
                  <label for="post-book" class="active">Book</label>
                  <select id="post-book" name="book" class="form-control validate" required>
                      <option value="">All</option>
                      <option value="Fluid Dynamics">Fluid Dynamics</option>
                      <option value="Linear Algebra">Linear Algebra</option>
                      <option value="India after Gandhi">India after Gandhi</option>
                  </select>
              </div>
          </div>
          <div class="col s4">
              <div class="form-group">
                  <label for="post-chapter" class="active">Chapter</label>
                  <select id="post-chapter" name="chapter" class="form-control" required>
                      <option value="">All</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                  </select>
              </div>
          </div>
      </div>
    {{#each posts}}
      <div class="card-panel">
        <a href="posts/{{slug}}"><h4 class="blue-text text-darken-2">{{ title }}</h4></a>
        <h6>{{formatDate publishedOn }}</h6>
        <p> {{{summary}}}... <a href="posts/{{slug}}">Read More</a></p>
      </div>
    {{/each}}
  </div>
</template>
