<template name="post_single">
  {{> navbar}}
  <div class="container">
    <div class="card-panel">
      <h4 class="blue-text text-darken-2">{{ title }}</h4>
      <h6>by {{ authorName }}</h6>
      <h6>{{formatDate publishedOn }}</h6>
      <h6>book : {{ book }}</h6>
      <h6>chapter : {{ chapter }}</h6>
      <h6>language : {{ lang }}</h6>
      <div class="well">
        <p>{{{ body }}}</p>
      </div>
      {{#if currentUser}}
        {{#if isPostAuthor authorId}}
          <a href="/admin/edit/{{slug}}" class="waves-effect waves-light btn blue darken-2 edit">Edit</a>
        {{/if}}
      {{/if}}
      <a href="{{shareOnFacebookLink}}" target="_blank" class="btn btn-facebook">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="{{shareOnTwitterLink}}" target="_blank" class="btn btn-twitter">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="{{shareOnGooglePlusLink}}" target="_blank" class="btn btn-google-plus">
        <i class="fa fa-google-plus"></i>
      </a>
      <hr />
      {{> comments}}
    </div>
  </div>
</template>
