<template name="user">
  {{> admin_navbar}}
  <div class="row">
    {{> admin_menu}}
    <div class="col s10">
      <div class="container admin">
        <div class="card-panel">
          <h4>Name: <span class="blue-text text-darken-2">{{currentUser.profile.name}}</span></h4>
          <h4>Email: <span class="blue-text text-darken-2"> {{getUserEmail}}</span></h4>
          <h4>Role: <span class="blue-text text-darken-2"> {{currentUser.roles}}</span></h4>
        </div>
      </div>
    </div>
  </div>
</template>